body {
  background-color: white;
  font-family: "Times New Roman", sans-serif;
}

html, body, h1, h2, h3, p, ol, ul, li, a, form, label {
padding: 0;
border: 0;
margin: 0;
font-size: 100%;
font: inherit;
}

header {
  background: white url("headerItem.PNG") top left no-repeat;
  background-size: 100% 100%;
  padding: 0 0 40px 0;
}

.main {
    margin: 0 100px 0 250px;
 }

.disclaimer {
	margin: -10px 0 0 0;
}

.disclaimer li {
	display: inline-flex;
	list-style-type: none;
	padding: 0 20px 0 0;
	margin: 0;
}

.disclaimer li:last-child {
	float:right;
}

h1 {
	font-weight: bold;
	font-size: 120%;
}

.gallery {
	font-size: 110%;
	padding: 10px 0 0 300px;
	margin-bottom: 0;
}

h2 {
  padding: 50px 0 15px 0;
}

.bikePicture {
	list-style-type: none;
	padding: 0;
}

.bikePicture li {
	display: inline;
	padding-left: 10px;
}

.bike {
	height: 188px;
	width: 141px;
}

.mapZoom {
	height: 120px;
	width: 120px;
}

.idInfo li {
	display: inline-flex;
	list-style-type: none;
	padding: 0 10px 0 0;
	margin: 0;
}

.Warning {
	margin: 40px 0 20px 0;
}

.idInfo {
	font-size: 80%;
}

.scam {
	margin-bottom: 30px;
}
.scam p {
	border: 5px solid #e8e9ea;
}

footer {
  background: white url("Footer.PNG") bottom left no-repeat;
  background-size: 100% 100%;
  padding: 40px 0 0 0;
}


h3 {
  display: inline;
  margin: 0 0 0 -5px;
}
div {
  padding: 14px 0 14px 0;
}

p {
  padding: 15px 0 0 0;
}


